
test.csv
Q1 oracle/test.sql
Q1 oracle/test.sql
Q1 oracle/drop_tables_when finished.sql
Q2 oracle/Q2_T3 _labs_part2 - oldversion.sql
Q2 oracle/Q2_T3 _labs_part2 - oldversion.sql
Q2 sql server/Q2_T1_shtg test.sql
Q2 sql server/Q2_T1_shtg_test.sql
Q1 oracle/Q1_table9_testing.sql
